/* mobile first design */
* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style-type: none;
    text-decoration: none;
}

body {
    display: flex;
    flex-flow: row wrap;
}


.cards-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    /* width: 25%; */

}

.cards {
    border: 1px solid;
    border-color: transparent;
    border-radius: 5px;
    margin: 15px 0;
    padding: 0 20px;
    box-shadow: rgb(227, 227, 227) -2px 3px,
                rgb(227, 227, 227) 2px 3px;
    /* width: 50%; */
    text-align: center;

}

.cards button {
    background-color: #1E1E24;
    border: none;
    color: white;
    margin: 15px 0;
    padding: 10px 0;
    width: 100%;
}

.cards h1 {
    margin: 20px 0 ;
    text-align: center;
    width: 100%;
}

.cards img {
    height: 40px;
    width: 40px;
}

.cards > div {
    margin: 10px 0;
    text-align: center;
}

.cards p {
    color:grey;
    /* min-height: auto; */
    /* text-indent: 10px; */
    text-align: center;
    /* padding-left: 10%; */
    max-width: 400px;
    min-width: 300px;
    /* justify-content: center; */
    /* align-self: center; */
}

.navbar-brand {
    width: 60%;
}

.navbar-brand img {
    height: 40px;
    width: 40px;
}

.nav-link-items {
    width: 100%;
}

nav {
    align-items: center;
    background-color: #1E1E24;
    display: flex;
    flex-flow: row wrap;
    padding-left: 5px;
    width: 100%;
}

.nav-link-items {
    width: 100%;
}


.nav-link-items li a {
    color: whitesmoke;
}

.main-intro {
    position: relative;
    z-index: -1;
}

.main-intro-text h1 {
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 1px;
}

.main-intro-text p {
    /* margin-top: 10px; */
    /* line-height: 1.4rem; */
    margin: 5px 0;
    width: 100%;

}

.main-intro-text aside {
    background-color: rgba(41, 40, 38, 0.76);
    color: white;
    opacity: 0.6;
    padding: 20px 10px;
}

.main-intro-text-container {
    color: whitesmoke;
    position: absolute;
    /* left: 50%; */
    top: 25%;
    /* transform: translate(-50%, -50%);    */
    width: 100%;
}

.main-intro-text-container header {
    font-size: 1.6em;
    margin-bottom: 20px;
    padding: 0 10px;
    /* text-align: justify; */
}

.menu {
    padding-left: 80px;
    width: 40%;
}

#menu-bars {
    height: 40px;
    width: 40px;
}


.rocket-flex {
    display: flex;
    width: 100%;

}

.rocket-flex img {
    height: 100vh;
    object-fit: cover;
    width: 100%;
}





/* =================
DESKTOP & TABLE STYLE
====================*/

@media (min-width: 768px) {


    .main-intro {
        display: flex;
        width: 100%;
    }

    .menu {
        display: none;
    }

    nav {
        /* display: flex; */
        padding: 10px 25px 5px 5px;
        width: 100%;
    }

    .navbar-brand {
        /* display: flex; */
        width: 60%;
    }

    .nav-link-items {
        display: flex;
        width: 40%;
        padding-right: 65px;
    }

    .nav-link-items li {
        margin-right: 75px;
    }

    .nav-link-items li a {
        display: flex;
    }



}