/*===========================
Base Styles 
============================= */




/*body header */

body header {
    background: rgb(134, 176, 232);

}

body header img {
    max-width: 481px;
    width: 100%;
}


/* nav styles*/

a {
    text-decoration: none;
}


nav.horizontal li {
    color: rgb(31, 73, 125);
    line-height: 2em;
    text-transform: uppercase;
}

nav.horizontal a:visited,
nav.horizontal a:link {
    color: rgb(31, 73, 125);
}

nav.horizontal a:hover,
nav.horizontal a:active {
    background-color: rgb(31, 73, 125);
    color: white;
}

nav.horizontal li:nth-of-type(1) {
    /* background-color: rgb(31, 73, 125); */

}

ul li {
    list-style-type: none;
}

ul.mainmenu li {
    text-indent: 15px;
}


ul.mainmenu>li:first-of-type a {
    background-color: rgb(31, 73, 125);
    color: white;
}

/* pull down*/

nav.horizontal {
    background-color: rgb(117, 140, 72);
    min-height: 2em;
}

ul.submenu {
    background-color: rgb(181, 204, 136);
    display: none;
    width: 100%;
}

ul.submenu:hover,
a.submenuTitle:hover+ul.submenu {
    display: block;
}



/* body */


aside{
    background-color: rgb(181, 204, 136);

}


body {
    background: rgb(134, 176, 232);
    box-shadow: rgb(51, 51, 51) 5px 0px 15px,
        rgb(51, 51, 51) -5px 0px 15px;
    min-height: 100%;
    min-width: 320px;
    max-width: 1024px;
    width: 100%;
}



footer {
    background-color: rgb(117, 140, 72);
    font-size: 0.9em;
    text-align: center;
    padding: 10px 0px;
}



/* section*/

section {
    background-color: rgb(207, 222, 172);
    clear: both;
}

section::after {
    content: "";
    display: table;
    clear: both;
}

section img {
    width: 100%;
 }
 


/*=============================
Mobile Styles: 0 to 480px
 =============================== */

@media only screen and (max-width: 480px) {
    nav.horizontal a {
        font-size: 1.5em;
        line-height: 2.2em;
    }

    aside {
        display: none;
    }

}


/* =======================
Tables Styles: 0 to 480px
========================== */

@media only screen and (min-width: 481px) {
    ul.mainmenu>li {
        float: left;
        position: relative;
        width: 20%;
    }

    ul.submenu {
        box-shadow: rgb(51, 51, 51) 5px 5px 15px;
        position: absolute; /*stops flow*/
        width: 200%; /*covers next submenu*/
    }
}



/*================================
Desktop Style: 769px and greater
==================================*/

@media only screen and (min-width: 769px) {
    article {
        float: left;
        margin-right: 5%;
        width: 55%;
    }
    aside{
        float: left;
        width: 40%;
    }
    
    nav.horizontal::after {
        clear: both;
        content: "";
        display: table;
    }
    nav.horizontal a.submenuTitle {
        display: none;
    }
    ul.submenu {
        background: transparent;
        box-shadow: none;
        display: block;
        position: relative;
        width: 100%;
    }

}