/* ================
   Base Flex Styles
   ================
*/

/* body */

body {
    display: flex;
    flex-flow: wrap;
    min-width: 360px;
    max-width: 1024px;
}


header,
footer {
    background-color: rgb(117, 140, 72);
    width: 100%;
}

footer {
    text-align: center;
}

/* aside */

aside {
    background-color: rgb(207, 222, 172);
    flex: 1 1 120px
}


aside h1 {
    background: rgb(134, 176, 232);
    color: white;
    letter-spacing: 0.2em;
    line-height: 1.5em;
    text-align: center;
}

aside li {
    line-height: 1.8em;
    padding-left: 10px;
}



/* body header*/

a#navicon {
    display: none;
}

li a {
    color: white;
    text-decoration: none;
}

body header {
    background: rgb(134, 176, 232);
}

header img {
    width: 100%;
}

nav.horizontal {
    background-color: rgb(117, 140, 72);
}

nav.horizontal a:hover {
    color: white;
}

nav.horizontal li {
    flex: 1 1 auto;
    line-height: 2em;
    text-align: center;
}

nav.horizontal ul {
    display: flex;
    flex-flow: wrap;
}

nav.horizontal li:nth-of-type(4) {
    background-color: rgb(31, 73, 125);
}

ul li {
    list-style-type: none;
}


/* article */

article#overview h1 {
    font-size: 2em;
    letter-spacing: 0.2em;
    margin: 10px 0px 20px 0px;
    padding-left: 20px;

}

article#overview p {
    margin: 20px;
}

section#main {
    flex: 3 1 361px
}

section#topics {
    display: flex;
    flex-flow: row wrap;
}

section#topics article {
    border: double 2px rgb(45, 125, 230);
    border-radius: 20px;
    flex: 1 1 200px;
    margin: 10px;
}

section#topics article h1 {
    font-size: 1.2em;
    margin: 5px;
    text-align: center;
}

section#topics article:nth-child(even) {
    background-color: rgb(207, 222, 172);
}

section#topics article:nth-child(odd) {
    background: rgb(134, 176, 232);
}

section#topics p {
    padding: 10px;
}

/* =========================
   Mobile Styles: 0 to 480px 
   =========================
*/

@media only screen and (max-width: 480px) {
   
    a#navicon {
        display: block;
        height: 50px;
        width: 50px;
    }

    a#navicon:hover+ul,
    a#navicon+ul:hover {
        display: block;
    }

    aside {
        order: 99;
    }

    nav.horizontal li{
        font-size: 1.5em;
        line-height: 2.2em;

    }

    nav.horizontal ul {
        display: none;
    }

    footer {
        order: 100;
    }
}

/* ============================================
   Tablet  Styles: 481px to 769px
   ============================================
*/

@media only screen and (min-width: 481px) {
    
    nav.horizontal ul {
        display: block;
        flex-flow: row nowrap;
    }

    section#topics {
        display: block;
    }

}



/* ============================================
Desktop Styles: 769px 
   ============================================
*/

@media only screen and (min-width: 769px) {
    nav.horizontal ul {
        display: flex;
        flex-flow: row nowrap;
    }

    nav.horizontal li {
        flex: 1 1 auto;
    }

}